body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 60px;
}

.loading-image {
  display:block;
  margin: 0 auto;
  }

/* styling <RecipeList /> */
.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

    .tagName {width: auto;
    display: inline-block;
    background: #fff;
    margin: 80px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    color: #000;
    letter-spacing: 2px;
    font-family: Soleil, Helvetica, Arial, sans-serif;
    padding: 0 20px;
    text-transform: capitalize;
    font-weight: bold;
    height: 75px;
    line-height: 75px;
    margin: 0;
    margin-top: 110px;
    position: relative;
    opacity: 0.8;
    top: -60px;
    font-style: Monaco;
}
.column {
  float: left;
  width: 30%;
  padding-left: 150px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.recipeName{
  font-weight: bold;
  height: 75px;
}