body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  object-fit: cover;
  width: 100%;
}

h1 {
  font-size: 60px;
}

.loading-image {
  display:block;
  margin: 0 auto;
  }

/* styling <RecipeList /> */
.cards {
  list-style: none;
}

.card {
  margin: 1rem;
  box-shadow:7px 6px 10px 1px #FFB72B;
  border-radius: 15px;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

    .tagName {width: auto;
    display: inline-block;
    background: #fff;
    margin: 80px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.988);
    letter-spacing: 2px;
    font-family: Soleil, Helvetica, Arial, sans-serif;
    padding: 0 20px;
    text-transform: capitalize;
    font-weight: bold;
    height: 75px;
    line-height: 75px;
    margin: 0;
    margin-top: 110px;
    position: relative;
    opacity: 0.8;
    top: -60px;
    font-style: Monaco;
}
.column {
  float: left;
  width: 30%;
  padding-left: 150px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.recipeName{
  font-weight: bold;
  font-size: 30px;
  text-align: center
}

.paddingClass{
  padding-top: 70px;
  border-radius: 150;
}

.grow img{
  transition: 1s ease;
  border-radius: 15px;
  }
  
.grow img:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  }

.paddingHeader{
  padding-top: 50px;
}
  
/* **************************** */
.searchButton{
  padding: 50px;
}

/* <PostRecipeForm /> */
form {
  margin: 50px 0;
  text-align: center;
}

label {
  position: absolute;
  font-size: 1.3rem;
  left: 20%;
}

.stepLabel {
  padding-top: 40px
}

.otherLabels {
  padding-top: 25px;
}

.formButton {
  background-color: #FFB72B;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0.5rem 1.0rem;
  border: 2px solid #FFB72B;
  border-radius: 10px
}

.addButton {
  position: absolute;
  border-radius: 80px;
  left: 70%;
  font-weight: bold;
  color: #fff;
}

.submitButton {
  color: #000;
  margin-top: 100px;
}

.message {
  color: gray;
  margin-top: 0;
}

/*  <PostRecipeForm /> */
/*  <Footer /> */

.footer {
  color: gray;
}
/*  <Footer /> */

/*  <Slideshow /> */

.slideshow {
  margin-top: 150px;
}
/*  <Slideshow /> */

/* <ShowSearchedRecipe /> */

.searchCard {
  justify-content:space-between;
  margin: 1rem;
  box-shadow:7px 6px 10px 1px #FFB72B;
  width: 315px;
}
/* <ShowSearchedRecipe /> */

.lists {
  margin-top: 60px;
}

.searchCards {
  padding-left: 0;
}

.eggName {
  text-align: center;
}